.hero{
    position: relative;
    width: 100vw;
    height: 100svh;
    color: var(--dark);
    overflow: hidden;
}

/* Canvas en arrière-plan en position absolute */
.hero canvas {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100vw !important;
    height: 100vh !important;
    z-index: 5 !important;
    pointer-events: none;
}

/* Conteneur pour les textes à gauche */
.hero-container {
    position: absolute;
    bottom: 0;
    z-index: 5;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    width: 100vw;
}
.hero-container .presente{
    position: relative;
    top: 0.6rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1.5rem;
    font-size: clamp(0.6rem, 1.8vw, 1.5rem);
    font-family: var(--font-generale-sans);
}
.hero-name h1{
    font-size: 10.2rem;
    line-height: 0.8;
    font-family: var(--font-clash-display);
    text-transform: uppercase;
}
.hero-container .myjob, .mymessage{
    letter-spacing: -0.5;
    opacity: 0.7;
}
.hero-name h1 span{
    letter-spacing: -5;
}
.hero .links-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    z-index: 6;
    top: 17%;
    right: 2rem;
}
.hero .bar-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero .bar-content .dot{
    height: 5px;
    width: 5px;
    background-color: var(--accent);
    border-radius: 50%;
    position: relative;
}
.hero .bar-content .bar{
    height: 200px;
    width: 2px;
    background-color: var(--accent);
    border-radius: 4px;
}

.hero .links svg{
    height: 24px;
    width: 24px;
    transition: fill 0.3s;
    cursor: pointer;
}
.hero .links{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.hero .links svg{
    transition: transform 0.3s;
}

.hero .links svg:hover{
    transform: scale(1.1);
    transition: transform 0.3s;
}
@media (max-width: 1000px) {
    .hero canvas {
        display: none;
    }
}

@media (max-width: 480px) {
    .hero .bar-content{
        display: none;
    }
    .hero .links{
        display: flex;
        flex-direction: row;
    }

}